# Hardhat cache, artifacts, and build directories
cache/
artifacts/
coverage/

# Optional Hardhat runtime environment (if using)
HRE/
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
